{% extends "layout.html" %}

{% block title %}
    Abbreviations
{% endblock %}

{% block main %}
<div class="row">
    <!-- statistics abbreviations -->
    <div class="col-md-4" id="stats">
        <h5>Statistics</h5>
        <p>AVG.....Batting Average</p>
        <p>HR......Home Runs</p>
        <p>RBI.....Runs Batted In</p>
        <p>R.......Runs</p>
        <p>H.......Hits</p>
        <p>2B......Doubles</p>
        <p>3B......Triples</p>
        <p>GP......Games Played</p>
        <p>PA......Plate Appearances</p>
        <p>AB......At Bats</p>
        <p>SB......Stolen Bases</p>
        <p>CS......Caught Stealing</p>
        <p>BB......Walks</p>
        <p>K.......Strikeouts</p>
        <p>OBP.....On Base Percentage</p>
        <p>SLG.....Slugging</p>
        <p>OPS.....On Base + Slugging</p>
        <p>OPS+....Advanced OPS</p>
        <p>TB......Total Bases</p>
        <p>GIDP....Double Play Groundouts</p>
        <p>HBP.....Hit By Pitch</p>
        <p>SAC.....Sacrifice Hits</p>
        <p>SF......Sacrifice Flies</p>
        <p>IBB.....Intentional Walks</p>
    </div>
    <!-- team name abbreviations -->
    <div class="col-md-4" id="teams">
        <h5>Teams</h5>
        <p>BAL.....Baltimore Orioles</option>
        <p>BOS.....Boston Red Sox</p>
        <p>NYY.....New York Yankees</p>
        <p>TB......Tampa Bay Rays</p>
        <p>TOR.....Toronto Blue Jays</p>
        <p>CLE.....Cleveland Indians</p>
        <p>CWS.....Chicago White Sox</p>
        <p>DET.....Detroit Tigers</p>
        <p>KC......Kansas City Royals</p>
        <p>MIN.....Minnesota Twins</p>
        <p>HOU.....Houston Astros</p>
        <p>LAA.....Los Angeles Angels</p>
        <p>OAK.....Oakland Athletics</p>
        <p>SEA.....Seattle Mariners</p>
        <p>TEX.....Texas Rangers</p>
        <p>ATL.....Atlanta Braves</p>
        <p>MIA.....Miami Marlins</p>
        <p>NYM.....New York Mets</p>
        <p>PHI.....Philadelphia Phillies</p>
        <p>WAS.....Washington Nationals</p>
        <p>CHC.....Chicago Cubs</p>
        <p>CIN.....Cincinnati Reds</p>
        <p>MIL.....Milwaukee Brewers</p>
        <p>PIT.....Pittsburgh Pirates</p>
        <p>STL.....St. Louis Cardinals</p>
        <p>ARI.....Arizona Diamondbacks</p>
        <p>COL.....Colorado Rockies</p>
        <p>LAD.....Los Angeles Dodgers</p>
        <p>SD......San Diego Padres</p>
        <p>SF......San Francisco Giants</p>
    </div>
    <!-- league name abbreviations -->
    <div class="col-md-4" id="leagues">
        <h5>Leagues</h5>
        <p>NL......National League</p>
        <p>AL......American League</p>
        <p>AA......American Association</p>
        <p>NA......National Association of Professional Baseball Leagues</p>
        <p>UA......Union Association</p>
        <p>PL......Players League</p>
    </div>
</div>
{% endblock %}